h1 {color: blue;}
img {width: 300px;}
#thirdDiv {height: 600px; width: 500px;}
#thirdDiv {background-color: blue;}
#spanId {font-size: 25px}
#spanId {margin: 50px;}
#thirdDiv {padding: 50px;}
#thirdDiv {border-width: 20px 20px; border-color: rgb(223, 14, 14)}